# trotxi_api_client.model.VerificationStatus

## Load the model package
```dart
import 'package:trotxi_api_client/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**phone** | [**VerificationStatusPhone**](VerificationStatusPhone.md) |  |
**standbyEligible** | **bool** |  |
**missing** | **BuiltList&lt;String&gt;** |  |

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


